body
{
    text-align: center;
    margin-top: 10%;
}

#connexion
{
    display: flex;
    margin-left: 42%;
    margin-bottom: 2%;
}

button
{
    font-size: 15px;
    margin-top: 30%;
    margin-right: 10%;
    padding-right: 20%;
    padding-left: 20%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#mdp
{
    margin-left: 55%;
    margin-top: 1%;
}

#compte input
{
    font-size: 15px;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    
}